<div class="cart-overlay">
    <div class="cart">
        <button class="cart-close">
            <i class="fas fa-window-close"></i>
        </button>
        <h2>Tu cesta</h2>
        <div class="cart-content">
            <!-- cart item -->
            <article class="cart-item">
                <img src="../assets/images/product-1.jpeg" alt="product" class="cart-item-img" alt="product" />
                <div class="cart-item-info">
                    <h5 class="cart-item-name">cama de matrimonio</h5>
                    <span class="cart-item-price">1299 €</span>
                    <button class="cart-item-remove-btn">eliminar</button>
                </div>
                <div>
                    <button class="cart-item-increase-btn">
                        <i class="fas fa-chevron-up"></i>
                    </button>
                    <span class="cart-item-amount">1</span>
                    <button class="cart-item-decrease-btn">
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </div>
            </article>
            <!-- end of cart item -->
        </div>
        <div class="cart-footer">
            <h3>total : <span class="cart-total">0 €</span></h3>
            <button class="clear-cart banner-btn">borrar artículos</button>
        </div>
        </button>
    </div>
</div>