<footer class="footer-distributed">

    <div class="footer-left">

        <img src="/E-commerce CARVAL/assets/images/logoCarval.png" alt="CARVAL logo" width="150px">

        <p class="footer-links">
            <a href="#" class="link-1">Inicio</a>

            <a href="#">Blog</a>

            <a href="#">Presupuesto</a>

            <a href="#">Acerca de</a>            

            <a href="#">Contacto</a>
        </p>

        <p class="footer-company-name">Carpintería Valdebría © 2022</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>C/ Benposta</span> Puente de Domingo Flórez, León</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+34.555.555.555</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">contacto@carval.es</a></p>
        </div>

    </div>

    <div class="footer-right">       

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>