<nav class="navbar">
    <div class="nav-center">
        <!-- links -->
        <div>
            <button class="toggle-nav">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav-links">
                <li>
                    <a href="/E-commerce CARVAL/index.php" class="nav-link"> Inicio </a>
                </li>
                <li>
                    <a href="/E-commerce CARVAL/products.php" class="nav-link"> Productos </a>
                </li>
                <li>
                    <a href="/E-commerce CARVAL/about.php" class="nav-link"> Acerca de </a>
                </li>
            </ul>
        </div>
        <!-- logo -->
        <img src="/E-commerce CARVAL/assets/images/logoCarval.png" class="nav-logo" alt="CARVAL logo">
        <div class="nav-icons">
            <!-- login icon -->
            <div class="toggle-container">
                <button class="toggle-login">
                    <a href="/E-commerce CARVAL/Login/customer_login.php"><i class="fa fa-user" aria-hidden="true"></i></a>
                </button>
            </div>
            <!-- cart icon -->
            <div class="toggle-container">
                <button class="toggle-cart">
                    <i class="fas fa-shopping-cart"></i>
                </button>
                <span class="cart-item-count">1</span>
            </div>
        </div>
    </div>
</nav>